.status {
    display: flex ;
    flex-direction: column;
    justify-content: center;
    align-items: center ;
    text-align: center;
}


.story {
    display: flex ;
    flex-direction: row;
    justify-content: center;
    align-items: center ;
    text-align: center;
    width: 615px ;
}