* {
    color: #262626 ;
    margin: 0;
    padding: 0;
    box-sizing: border-box
}

@font-face {
    font-family: "Billabong";
    src: url("./fonts/FontsFree-Net-Billabong.ttf") ;
}

.title {
    font-family: 'Billabong', sans-serif;
}